.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem 0rem 2.5rem;
}
.logo {
  width: 5rem;
}
.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #103b80;
  background-color: #224783;
  overflow: hidden;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: #fff;
  font-weight: 500;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #1e3b69;
  padding: 10px;
  fill: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: #1e3b69;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #93C5DC;
}

.button:active {
  border: 1px solid #93C5DC;
}
